.homeloan{
    font-size: 1.4em;
}

/* emi tool */
.fd_tool,
.emi_tool {
    max-width: 80%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 4px;
    font-size: 1.4em;
    box-sizing: border-box;
}
.form-group button {
    padding: 4px 15px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.4em;
}
.form-group button:hover {
    background-color: #0056b3;
}
.result {
    margin-top: 20px;
}


/* property css */
.propertyloan table {
    width: 100%;
    font-size: 1.4em;
    border-collapse: collapse;
}
.propertyloan th, .propertyloan td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.propertyloan th {
    background-color: #f2f2f2;
}


/* homeloan css */
.homeloan table {
    width: 100%;
    border-collapse: collapse;
}

.homeloan th,
.homeloan td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.homeloan th {
    background-color: #f2f2f2;
}