{% extends 'core/partial/base.html' %}
{% load static %}

{% block index %}

<div class="container-fluid content-home">

    <div class="row mt-4">
        <div class="col-md-8">
            <!-- carousal for the features -->
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../../../static/core/images/business-Loan.webp" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="../../../static/core/images/home-loan.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="../../../static/core/images/machine.jpg" alt="">
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
                <div class="autoplay-progress" style="opacity: 0;">
                    <svg viewBox="0 0 48 48">
                        <circle cx="24" cy="24" r="20"></circle>
                    </svg>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="col-md-4"
            style="display: flex;flex-direction: column;align-items: center;justify-content: space-between;gap: 1em;">
            <div class="card" style="overflow: hidden;">
                <div class="card-title font_resizer">What's New</div>
                <div class="card-data-scroller">
                    <ul id="scrollingList1">
                        <li><a href="" class="font_resizer">1. To provide facilities of ATMs, IMPS, RuPay KCC, Mobile Banking, Internet
                                Banking under Core Banking to all the customers of the Bank.</a></li>
                        <li><a href="" class="font_resizer">2. To benefit all the farmers of the district with crop insurance as well as
                                accident insurance.</a></li>
                        <li><a href="" class="font_resizer">3. Recovery of loans of habitual loanee farmers in collaboration with Revenue
                                Department under CRIS Scheme.</a></li>
                        <li><a href="" class="font_resizer">4. To connect farmers with 5% KCC facility through cooperative institutions in
                                the district.</a></li>
                    </ul>
                </div>
            </div>
            <div class="card" style="overflow: hidden;">
                <div class="card-title font_resizer">Orders/New News</div>
                <div class="card-data-scroller">
                    <ul id="scrollingList2 font_resizer">
                        <li><a href="" class="font_resizer">1. To provide facilities of ATMs, IMPS, RuPay KCC, Mobile Banking, Internet
                                Banking under Core Banking to all the customers of the Bank.</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-4">
        <div class="col-md-12 alert-news-heading">
            <ul class="horizontal-scroll font_resizer">
                <li>All branches of the bank with CBS enabled for senior citizens.</li>
                <li>Another news item</li>
            </ul>
        </div>
    </div>

    <div class="row mt-4">
        <div class="bank-buttons">
            <div class="swiper mySwipernew" style="height: 40px">
                <div class="swiper-wrapper">
                    <div class="swiper-slide swiper-div active" data-target="bank-button-detail-1"><span class="bank-btns font_resizer">Eligibility</span></div>
                    <div class="swiper-slide swiper-div" data-target="bank-button-detail-2"><span class="bank-btns font_resizer">Features</span></div>
                    <div class="swiper-slide swiper-div" data-target="bank-button-detail-3"><span class="bank-btns font_resizer">Debt Fund</span></div>
                    <div class="swiper-slide swiper-div" data-target="bank-button-detail-4"><span class="bank-btns font_resizer">Interest Rate</span></div>
                    <div class="swiper-slide swiper-div" data-target="bank-button-detail-5"><span class="bank-btns font_resizer">Board Of Directors</span></div>
                    <div class="swiper-slide swiper-div" data-target="bank-button-detail-6"><span class="bank-btns font_resizer">Bank Staff</span></div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        
        <div class="bank-buttons-details">
            <div class="col-md-12 bank-button-detail-1 mt-4 container bank-button-detail font_resizer">
                <p>
                    <b>All Individuals/ Karta HUF/ Organizations or Agencies (based on eligibility to open SB accounts)
                        such as:</b>
                <ul>
                    <li>Government departments / bodies / agencies in respect of grants/ subsidies released for
                        implementation of various programmes / Schemes sponsored by Central Government / State
                        Governments subject to production of an authorization from the respective Central / State
                        Government departments to open Savings Bank account.</li>
                    <li>Development of Women and Children in Rural Areas (DWCRA).</li>
                    <li>Self-help Groups (SHGs).</li>
                    <li>Primary Co-operative Credit Society which is being financed by the Bank.</li>
                    <li>Khadi and Village Industries Boards.</li>
                    <li>Agriculture Produce Market Committees.</li>
                    <li>Mode of Operation: Single/Jointly/Either or survivor/ Former or survivor, Later or survivor,
                        etc.</li>
                </ul>
                </p>
            </div>

            <div class="col-md-12 bank-button-detail-2 mt-4 container bank-button-detail font_resizer">
                <p>
                    <b>All Individuals/ Karta HUF/ Organizations or Agencies (based on eligibility to open SB accounts)
                        such as:</b>
                <table>
                    <tr>
                        <th>Category</th>
                        <th>Details</th>
                    </tr>
                    <tr>
                        <td>Minimum Balance</td>
                        <td>Average Monthly Balance of Rs. 2000/- for Urban/Metro branches, Rs. 1000/- for Semi-Urban
                            branches and Rs. 500/- for Rural branches.</td>
                    </tr>
                    <tr>
                        <td>Requirements For Opening Account</td>
                        <td>Application in the Banks’ prescribed form, Proof of identity, Address proof, Passport size
                            photograph.</td>
                    </tr>
                    <tr>
                        <td>Nature of Deposit</td>
                        <td>Running (Operative) account.</td>
                    </tr>
                    <tr>
                        <td>Periodicity of Interest Payment</td>
                        <td>Interest is calculated on the daily balance maintained in the account and credited to SB
                            accounts on 1st February, 1st May, 1st August and 1st November every year.</td>
                    </tr>
                    <tr>
                        <td>Special Rate for Senior Citizen</td>
                        <td>Not applicable.</td>
                    </tr>
                    <tr>
                        <td>TDS</td>
                        <td>Not applicable.</td>
                    </tr>
                    <tr>
                        <td>Nomination Facility</td>
                        <td>Applicable.</td>
                    </tr>
                    <tr>
                        <td>Loan Against Deposit</td>
                        <td>Not permitted.</td>
                    </tr>
                    <tr>
                        <td>Other Facilities</td>
                        <td>ATM-cum-Debit Card, Pass book/Pass sheet, Standing Instructions, Cheque Collection, Internet
                            Mobile Banking (Canara ai1 app), etc.</td>
                    </tr>
                </table>
                </p>
            </div>

            <div class="col-md-12 bank-button-detail-3 mt-4 container bank-button-detail font_resizer">
                <p>
                <table>
                    <tr>
                        <th>S.No.</th>
                        <th>Slabs</th>
                        <th>ROI(%)</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>For outstanding Balance of less than Rs. 50 Lakh</td>
                        <td>2.90</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>For outstanding Balance of Rs. 50 Lakh to less than Rs 5 Cr</td>
                        <td>2.90</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>For outstanding Balance of Rs. 5 Cr to less than Rs 10 Cr</td>
                        <td>2.95</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>For outstanding Balance of Rs. 10 Cr to less than Rs 100 Cr</td>
                        <td>3.05</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>For outstanding Balance of Rs. 100 Cr to less than Rs 200 Cr</td>
                        <td>3.50</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>For outstanding Balance of Rs. 200 Cr to less than Rs 300 Cr</td>
                        <td>3.10</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>For outstanding Balance of Rs. 300 Cr to less than Rs 500 Cr</td>
                        <td>3.10</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>For outstanding Balance of Rs. 500 Cr to less than Rs 1000 Cr</td>
                        <td>3.40</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>For outstanding Balance of Rs. 1000 Cr & less than Rs. 2000 Cr</td>
                        <td>3.55</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>For outstanding Balance of Rs. 2000 Cr & above</td>
                        <td>4.00</td>
                    </tr>
                </table>
                </p>
            </div>
        </div>
    </div>

    <div class="row mt-4">

        <div class="col-md-4 mt-4">
            <div class="card" style="overflow: hidden;">
                <div class="card-title font_resizer">Services Available</div>
                <div class="card-data-scroller font_resizer">
                    <ul>
                        <li><a href="">NEFT /RTGS/IMPS/LOCKER/ATM/D.D.</a></li>
                        <li><a href="">OTHER SERVICES</a></li>
                        <li><a href="">LOKER RENT</a></li>
                        <li><a href="">OTHERS CHARGES</a></li>
                        <li><a href="">ATM</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-4">
            <div class="card" style="overflow: hidden;">
                <div class="card-title font_resizer">Pradhan Mantri Yojna</div>
                <div class="card-data-scroller font_resizer">
                    <ul>
                        <li><a href="">PMJJBY,PMSBY & APY</a></li>
                        <li><a href="">FASAL BIMA YOJNA</a></li>
                        <li><a href="">RUPAY K.C.C CARD</a></li>
                        <li><a href="">TRUPAY DEBIT CARD</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-4">
            <div class="card" style="overflow: hidden;">
                <div class="card-title font_resizer">Useful Links</div>
                <div class="card-data-scroller font_resizer">
                    <ul>
                        <li><a href="">Reserve Bank of India</a></li>
                        <li><a href="">APEX BANK</a></li>
                        <li><a href="">Co-operative Deptt of M.P</a></li>
                        <li><a href="">EPF MEMBER ACCOUNT</a></li>
                        <li><a href="">e-Cooperatives</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock index %}