{% extends 'core/partial/base.html' %}
{% load static %}

{% block index %}

<div class="container-fluid content-home">

    <div class="row mt-4">
        <div class="col-md-8">
            <!-- carousal for the features -->
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img loading="lazy" src="../../../static/core/images/business-Loan.webp" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img loading="lazy" src="../../../static/core/images/home-loan.webp" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img loading="lazy" src="../../../static/core/images/machine.webp" alt="">
                    </div>
                </div>
                <div class="swiper-button-next mySwiper-swiper-button-next"></div>
                <div class="swiper-button-prev mySwiper-swiper-button-prev"></div>
                <div class="swiper-pagination mySwiper-swiper-pagination"></div>
                <div class="autoplay-progress" style="opacity: 0;">
                    <svg viewBox="0 0 48 48">
                        <circle cx="24" cy="24" r="20"></circle>
                    </svg>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="col-md-4 message-headlines"
            style="display: flex;flex-direction: column;align-items: center;justify-content: space-between;gap: 1em;">
            <div class="card h-70" style="overflow: hidden;">
                <div class="card-title font_resizer">What's New</div>
                <div class="card-data-scroller">
                    <ul id="scrollingList1">
                        <li><a href="" class="font_resizer">1. To provide facilities of ATMs, IMPS, RuPay KCC, Mobile
                                Banking, Internet
                                Banking under Core Banking to all the customers of the Bank.</a></li>
                        <li><a href="" class="font_resizer">2. To benefit all the farmers of the district with crop
                                insurance as well as
                                accident insurance.</a></li>
                        <li><a href="" class="font_resizer">3. Recovery of loans of habitual loanee farmers in
                                collaboration with Revenue
                                Department under CRIS Scheme.</a></li>
                        <li><a href="" class="font_resizer">4. To connect farmers with 5% KCC facility through
                                cooperative institutions in
                                the district.</a></li>
                    </ul>
                </div>
            </div>
            <div class="card" style="overflow: hidden;">
                <div class="card-title font_resizer">Orders/New News</div>
                <div class="card-data-scroller">
                    <ul id="scrollingList2 font_resizer">
                        <li><a href="" class="font_resizer">1. To provide facilities of ATMs, IMPS, RuPay KCC, Mobile
                                Banking, Internet
                                Banking under Core Banking to all the customers of the Bank.</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-4">
        <div class="col-md-12 alert-news-heading">
            <ul class="horizontal-scroll font_resizer">
                <li>All branches of the bank with CBS enabled for senior citizens.</li>
                <li>Another news item</li>
            </ul>
        </div>
    </div>

    <div class="row mt-4">
        <div class="bank-buttons">
            <div class="swiper mySwipernew" style="height: 60px">
                <div class="swiper-wrapper">
                    <div class="swiper-slide swiper-div active" data-target="bank-button-detail-1"><span
                            class="bank-btns font_resizer">Chairman Message</span></div>
                    <div class="swiper-slide swiper-div" data-target="bank-button-detail-2"><span
                            class="bank-btns font_resizer">Interest Rate</span></div>
                    <div class="swiper-slide swiper-div" data-target="bank-button-detail-5"><span
                            class="bank-btns font_resizer">NEFT/RTGS</span></div>
                    <div class="swiper-slide swiper-div" data-target="bank-button-detail-6"><span
                            class="bank-btns font_resizer">CTS Clearing/Cheque</span></div>
                    <div class="swiper-slide swiper-div" data-target="bank-button-detail-3"><span
                            class="bank-btns font_resizer">Board Of Directors</span></div>
                    <div class="swiper-slide swiper-div" data-target="bank-button-detail-4"><span
                            class="bank-btns font_resizer">Bank Staff</span></div>
                </div>
                <div class="swiper-button-next mySwipernew-swiper-button-next"></div>
                <div class="swiper-button-prev mySwipernew-swiper-button-prev"></div>
            </div>
        </div>

        <div class="bank-buttons-details">
            <div class="col-md-12 bank-button-detail-1 mt-4 container bank-button-detail font_resizer">
                <div class="container-fluid mt-5 chairman">
                    <h5>Chairman's Message</h5>
                    <hr style="margin: 0 0 .5em 0;">
                    <div class="row">
                        <div class="col-md-3">
                            <img loading="lazy" src="" alt="Chairman" class="img-fluid rounded-circle">
                        </div>
                        <div class="col-md-9 chairman-message">
                            <p><strong>Dear Valued Customers, Partners, and Stakeholders,</strong></p>
                            <p>Welcome to Maa Sharda Mahila Nagrik Sahakari Bank Maryadit, Maihar. As the Chairman of
                                this esteemed
                                institution, I am proud to share with you the remarkable progress and achievements we
                                have made over the
                                years.</p>
                            <p>Our bank was established with the vision to empower women and foster economic growth in
                                our community.
                                Through unwavering commitment and dedication, we have successfully delivered on our
                                mission and continue
                                to support the financial needs of our customers.</p>
                            <p>We have consistently demonstrated strong financial performance, maintained high standards
                                of customer
                                service, and introduced innovative banking solutions. Our focus on sustainability and
                                community
                                development remains at the core of our operations.</p>
                            <p>Looking ahead, we are excited about the future and the opportunities that lie ahead. We
                                remain committed
                                to enhancing our services, embracing new technologies, and expanding our reach to better
                                serve our
                                customers and community.</p>
                            <p>Thank you for your trust and support. Together, we will continue to achieve great
                                milestones and build a
                                brighter future.</p>
                            <p>Sincerely,</p>
                            <p style="margin-bottom: 0;"><strong>Mrs. Pratibha Patel</strong></p>
                            <p>Chairman, Maa Sharda Mahila Nagrik Sahakari Bank Maryadit, Maihar</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 bank-button-detail-2 mt-4 container bank-button-detail font_resizer">
                <div class="tables-container">
                    <h5><b style="text-decoration: underline;">Deposit Rates</b></h5>
                    <table>
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Term</th>
                                <th>Interest Rate from 01.09.2021</th>
                                <th>Interest Rate from 01.05.2023</th>
                                <th>Interest Rate from 01.09.2023 with Effective</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>15 days to 45 days</td>
                                <td>2.50%</td>
                                <td>2.50%</td>
                                <td>2.50%</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>46 days to 90 days</td>
                                <td>3.00%</td>
                                <td>3.00%</td>
                                <td>3.00%</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>91 days to 180 days</td>
                                <td>3.50%</td>
                                <td>3.75%</td>
                                <td>3.75%</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>181 days to less than 1 year</td>
                                <td>4.00%</td>
                                <td>4.25%</td>
                                <td>4.25%</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>1 year to less than 2 years</td>
                                <td>4.90%</td>
                                <td>6.00%</td>
                                <td>6.80%</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>2 years to less than 3 years</td>
                                <td>5.00%</td>
                                <td>6.10%</td>
                                <td>7.00%</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>3 years to less than 5 years</td>
                                <td>5.30%</td>
                                <td>6.25%</td>
                                <td>6.50%</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>5 years and above</td>
                                <td>5.40%</td>
                                <td>6.30%</td>
                                <td>6.30%</td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="saving-deposit">"The annual interest rate for savings deposit account is 2%."</p>
                    <p class="saving-deposit">Senior citizens will be given an additional 0.50% interest on fixed
                        deposits.</p>
                    <h5><b style="text-decoration: underline;">Loan Interest</b></h5>
                    <table>
                        <thead>
                            <tr>
                                <th>Type of Loan</th>
                                <th>Effective from 01.09.2019 to Till Now</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Long term Loan</td>
                                <td>9%</td>
                            </tr>
                            <tr>
                                <td>Medium Term Loans Business Loans</td>
                                <td>11%</td>
                            </tr>
                            <tr>
                                <td>Personal loans</td>
                                <td>12%</td>
                            </tr>
                            <tr>
                                <td>Cash Credit limit</td>
                                <td>12%</td>
                            </tr>
                            <tr>
                                <td>Loan Against Fixed Deposit</td>
                                <td>2% Extra Of FD Rate</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="col-md-12 bank-button-detail-3 mt-4 container bank-button-detail font_resizer">
                <!-- Board of Directors Section -->
                <div class="container-fluid mt-5 directors">
                    <h5>Board of Directors</h5>
                    <hr style="margin: 0 0 .5em 0;">
                    <p>Meet the distinguished members of our Board of Directors, who bring a wealth of experience and
                        expertise to guide our bank's strategic direction.</p>

                    <div class="row">
                        <!-- Mrs. Pratibha Patel - Chairman -->
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">Mrs. Pratibha Patel</h5>
                                    <p class="card-text">Chairman</p>
                                    <p class="card-text">"Our commitment to empowering women and fostering financial
                                        inclusion remains steadfast."</p>
                                </div>
                            </div>
                        </div>
                        <!-- Mrs. Prabha Dubey - Vice President -->
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">Mrs. Prabha Dubey</h5>
                                    <p class="card-text">Vice President</p>
                                    <p class="card-text">"Together, we can achieve sustainable growth and financial
                                        stability for all."</p>
                                </div>
                            </div>
                        </div>
                        <!-- Mrs. Samani Bai Prajapati - Vice President -->
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">Mrs. Samani Bai Prajapati</h5>
                                    <p class="card-text">Vice President</p>
                                    <p class="card-text">"We strive to build a stronger community through cooperative
                                        values and trust."</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Mrs. Kiran Nigam - Director -->
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">Mrs. Kiran Nigam</h5>
                                    <p class="card-text">Director</p>
                                    <p class="card-text">"Innovation and integrity are the cornerstones of our banking
                                        practices."</p>
                                </div>
                            </div>
                        </div>
                        <!-- Smt. Rampyari Sahu - Director -->
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">Smt. Rampyari Sahu</h5>
                                    <p class="card-text">Director</p>
                                    <p class="card-text">"Our focus is on delivering value and trust to our customers."
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Mrs. Vijaya Chopra - Director -->
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">Mrs. Vijaya Chopra</h5>
                                    <p class="card-text">Director</p>
                                    <p class="card-text">"Empowering women through financial independence is our
                                        mission."</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Mrs. Kiran Patel - Director -->
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">Mrs. Kiran Patel</h5>
                                    <p class="card-text">Director</p>
                                    <p class="card-text">"Committed to ethical banking and community service."</p>
                                </div>
                            </div>
                        </div>
                        <!-- Mrs. Annapurna Patel - Director -->
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">Mrs. Annapurna Patel</h5>
                                    <p class="card-text">Director</p>
                                    <p class="card-text">"Our goal is to provide reliable and inclusive banking
                                        services."</p>
                                </div>
                            </div>
                        </div>
                        <!-- Mrs. Usha Gupta - Director -->
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">Mrs. Usha Gupta</h5>
                                    <p class="card-text">Director</p>
                                    <p class="card-text">"Ensuring financial security and growth for every member."</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Mrs. Anand Patel - Director -->
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">Mrs. Anand Patel</h5>
                                    <p class="card-text">Director</p>
                                    <p class="card-text">"Fostering a culture of trust and excellence in banking."</p>
                                </div>
                            </div>
                        </div>
                        <!-- Mrs. Damyanti Patel - Director -->
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">Mrs. Damyanti Patel</h5>
                                    <p class="card-text">Director</p>
                                    <p class="card-text">"Dedicated to providing exceptional service and support."</p>
                                </div>
                            </div>
                        </div>
                        <!-- Mrs. Sharmila Jain - Professional Director -->
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">Mrs. Sharmila Jain</h5>
                                    <p class="card-text">Professional Director</p>
                                    <p class="card-text">"Leveraging expertise to drive innovation and success."</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Mrs. Navita Maurya - Professional Director -->
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">Mrs. Navita Maurya</h5>
                                    <p class="card-text">Professional Director</p>
                                    <p class="card-text">"Bringing strategic insights to our banking operations."</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 bank-button-detail-4 mt-4 container bank-button-detail font_resizer">
                <!-- Bank Staff -->
                <div class="container-fluid mt-5 directors">
                    <h5>Bank Staff</h5>
                    <hr class="my-2">
                    <p>Meet the bank staff members</p>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">Shri Sundarlal Charmkar</h5>
                                    <p class="card-text">Chief Executive Officer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">Mr. Shailendra Kumar Garg</h5>
                                    <p class="card-text">Assistant Manager</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">Shri Bhaiyalal Singh</h5>
                                    <p class="card-text">Chief Accountant</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">Ms. Bhavna Prasad Singh</h5>
                                    <p class="card-text">Assistant Accountant</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">Ku. Saraswati Srivastava</h5>
                                    <p class="card-text">Clerk/Cashier</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">Mrs. Pooja Patel</h5>
                                    <p class="card-text">Clerk</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">Shri Ramashankar Kushwaha</h5>
                                    <p class="card-text">Peon</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">Mr. Avinash Dahiya</h5>
                                    <p class="card-text">Peon</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">Mr. Gajendra Singh</h5>
                                    <p class="card-text">Security Guard (Gunman)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 bank-button-detail-5 mt-4 container bank-button-detail font_resizer">
                <h5><b>NEFT/RTGS Charges</b></h5>
                <table>
                    <tbody>
                        <tr>
                            <td>Rs. 1-10000</td>
                            <td>Rs. 05 + GST</td>
                        </tr>
                        <tr>
                            <td>Rs. 10001-100000</td>
                            <td>Rs. 06 + GST</td>
                        </tr>
                        <tr>
                            <td>Rs. 100001-200000</td>
                            <td>Rs. 17 + GST</td>
                        </tr>
                        <tr>
                            <td>Rs. 200001-300000</td>
                            <td>Rs. 29 + GST</td>
                        </tr>
                        <tr>
                            <td>Rs. 300001-Above 500000</td>
                            <td>Rs. 56 + GST</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-12 bank-button-detail-6 mt-4 container bank-button-detail font_resizer">
                <div class="container">
                    <h6>
                        <li>CTS Clearing Available in the bank.</li>
                        <li>CTS Cheques Available in the bank.</li>
                    </h6>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">

        <div class="col-md-4 mt-4">
            <div class="card" style="overflow: hidden;">
                <div class="card-title font_resizer">Services Available</div>
                <div class="card-data-scroller font_resizer">
                    <ul>
                        <li><a href="">NEFT /RTGS/IMPS/LOCKER/ATM/D.D.</a></li>
                        <li><a href="">OTHER SERVICES</a></li>
                        <li><a href="">LOKER RENT</a></li>
                        <li><a href="">OTHERS CHARGES</a></li>
                        <li><a href="">ATM</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-4">
            <div class="card h-100" style="overflow: hidden;">
                <div class="card-title font_resizer">Pradhan Mantri Yojna</div>
                <div class="card-data-scroller font_resizer">
                    <ul>
                        <li><a href="">PMJJBY,PMSBY & APY</a></li>
                        <li><a href="">FASAL BIMA YOJNA</a></li>
                        <li><a href="">RUPAY K.C.C CARD</a></li>
                        <li><a href="">TRUPAY DEBIT CARD</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-4">
            <div class="card" style="overflow: hidden;">
                <div class="card-title font_resizer">Useful Links</div>
                <div class="card-data-scroller font_resizer">
                    <ul>
                        <li><a href="">Reserve Bank of India</a></li>
                        <li><a href="">APEX BANK</a></li>
                        <li><a href="">Co-operative Deptt of M.P</a></li>
                        <li><a href="">EPF MEMBER ACCOUNT</a></li>
                        <li><a href="">e-Cooperatives</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock index %}