{% extends 'core/partial/base.html' %}
{% load static %}

{% block index %}

<nav class="navbar-container">
    <div class="bank-navbar-logo">
        <img src="../../../static/core/images/msmnb-english.jpg" alt="">
    </div>
    <div class="navbar-container-wrapper">

        <!-- topmost navbar -->
        <nav class="topmost-navbar">
            <div class="datetime">{{current_date}}</div>
            <a class="sitemap">Site-Map</a>
            <div class="textsize">
                <button>A+</button>
                <button>A</button>
                <button>A-</button>
            </div>
            <div class="themebutton">
                <div class="btn-container">
                    <label class="switch btn-color-mode-switch">
                        <input value="1" id="color_mode" name="color_mode" type="checkbox">
                        <label class="btn-color-mode-switch-inner" data-off="Light" data-on="Dark" for="color_mode"></label>
                    </label>
                </div>
            </div>
        </nav>
        <hr style="padding: 0;margin: 0;">
        
        <!-- main details navbar -->
        <nav class="center-navbar">
            <div class="bank--navbar-details">
                <span class="bank-navbar-title">MAA SHARDA MAHILA NAGRIK SAHAKARI BANK, MAIHAR</span>
                <span class="bank-navbar-address">Head office:- Kamla Market, Ghanta Ghar Road, Maihar- JILA SATNA,(M.P), pincode:-485771</span>
            </div>
        </nav>

    </div>
</nav>
<nav class="main-navbar navbar navbar-expand-lg">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-links-tag">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        About Us
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Financial Health</a></li>
                        <li><a class="dropdown-item" href="#">Key Commitments</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Chairmen's Message</a></li>
                        <li><a class="dropdown-item" href="#">Board Of Directors</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Bank Network
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Bank Branches</a></li>
                        <li><a class="dropdown-item" href="#">Bank Soceity</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Loan
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Agriculture Loan</a></li>
                        <li><a class="dropdown-item" href="#">Individual Loan</a></li>
                        <li><a class="dropdown-item" href="#">EMI Calculator</a></li>
                        <li><a class="dropdown-item" href="#">FD Maturity Calculator</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Deposite
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Saving A/C</a></li>
                        <li><a class="dropdown-item" href="#">Current A/C</a></li>
                        <li><a class="dropdown-item" href="#">Fixed Diposite / Double Diposite</a></li>
                        <li><a class="dropdown-item" href="#">Recurring Deposit</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        IFS Code
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">OTHERS DCCB Bank IFSC Code</a></li>
                        <li><a class="dropdown-item" href="#">DCCB dewas Branches IFSC Code</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">ATM SERVICES</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        IFS Code
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Other</a></li>
                        <li><a class="dropdown-item" href="#">Photo Gallery</a></li>
                        <li><a class="dropdown-item" href="#">Forms</a></li>
                        <li><a class="dropdown-item" href="#">Downloads</a></li>
                        <li><a class="dropdown-item" href="#">Circulars</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Statutory Decl
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Balance Sheet</a></li>
                        <li><a class="dropdown-item" href="#">Profit & Loss</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock index %}