{% extends 'inoperate/partial/base.html' %}
{% load static %}

{% block index %}
<div class="alert-heading">
    <div class="container-fluid">
        <span>Search Inoperative Account Holders(More Than 10 Years) as on 30th June 2024</span>
    </div>
</div>
<div class="container-fluid mt-4">
    <p class="inoperate-info">The DEAF Scheme 2014 was established by the Reserve Bank of India (RBI) to promote the interests of depositors and to ensure unclaimed deposits are utilized for their benefit. Here are the key aspects of the DEAF Scheme 2014: <br><br><b>Total Inoperative Accounts (DEAF Accounts) {{no_of_account}}</b><br><b>Total Amount Of Inoperative Accounts (DEAF Funds) ₹ {{total_amount}} </b></p>
    <a href="{% url 'inoperate:sign-in' %}" class="full_deaf_vew_btn">View Full Preview</a>
</div>
<div class="container-fluid row inoperative mt-3">
    <div class="col-md-6">
        <form method="post" class="search-form-inoperate">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="col-md-6">
    <h6>Searched result</h6>
    <hr style="margin: 0;">
        {% if results %}
            {% for person in results %}
            <table class="table table-striped mt-4">
                <thead>
                    <tr>
                        <th scope="col">
                            <div class="table-row-heading-flex">
                                <span class="material-symbols-outlined">person</span> <span>Name</span>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="table-row-heading-flex">
                                <span class="material-symbols-outlined">manage_accounts</span> <span>Account Number</span>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="table-row-heading-flex">
                                <span class="material-symbols-outlined">currency_rupee</span> <span>Amount</span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="inoperative_name">{{ person.name }}</td>
                        <td class="inoperative_account">{{ person.account_number }}</td>
                        <td class="inoperative_amount">{{ person.amount }}</td>
                    </tr>
                </tbody>
            </table>
            {% endfor %}
        {% else %}
            <div style="display: flex;align-items: center;justify-content: center;position: relative;" class="h-100">
                <span class="material-symbols-outlined" style="font-size: 15em;">search</span>
                <span class="inoperate-search-text">No Searched query yet!</span>
            </div>
        {% endif %}
    </div>
    <hr class="mt-4">
    <div class="section">
        <h6>Objective:</h6>
        <ul>
            <li>To use unclaimed deposits for the benefit of depositors.</li>
            <li>To promote depositor education and awareness.</li>
        </ul>
    </div>

    <div class="section">
        <h6>Transfer of Unclaimed Deposits:</h6>
        <ul>
            <li>Banks are required to transfer unclaimed deposits (those that have not been operated for 10 years or more) to the DEAF.</li>
            <li>This includes savings accounts, current accounts, term deposits, and other deposit accounts.</li>
        </ul>
    </div>

    <div class="section">
        <h6>Claiming Deposits:</h6>
        <ul>
            <li>Depositors or their legal heirs can claim the deposits transferred to the DEAF at any time.</li>
            <li>Banks will settle the claims and then claim the amount from the DEAF.</li>
        </ul>
    </div>

    <div class="section">
        <h6>Interest on Unclaimed Deposits:</h6>
        <ul>
            <li>Banks may be required to pay interest on the unclaimed deposits, as per the RBI guidelines, even after the transfer to the DEAF.</li>
        </ul>
    </div>

    <div class="section">
        <h6>Utilization of the Fund:</h6>
        <ul>
            <li>The fund is used for depositor education and awareness programs.</li>
            <li>It may also be used for other purposes as specified by the RBI from time to time.</li>
        </ul>
    </div>

    <div class="section">
        <h6>Reporting and Monitoring:</h6>
        <ul>
            <li>Banks must submit detailed reports on the unclaimed deposits transferred to the DEAF.</li>
            <li>The RBI monitors the transfer and utilization of funds.</li>
        </ul>
    </div>

    <div class="section">
        <h6>Claim Process</h6>
        <ul>
            <h6>Submission of Claim:</h6>
        <ul>
            <li>Depositors or legal heirs must submit a claim application to the bank.</li>
            <li>The application should include necessary documents, such as proof of identity and entitlement.</li>
        </ul>

        <h6>Verification and Settlement:</h6>
        <ul>
            <li>The bank verifies the claim and settles the amount.</li>
            <li>The settled amount is claimed back by the bank from the DEAF.</li>
        </ul>

        <h6>Interest Payment:</h6>
        <ul>
            <li>If applicable, interest is paid on the claimed deposits as per the prevailing guidelines.</li>
        </ul>
        </ul>
    </div>

    <div class="section">
        <h6>Depositor Awareness Initiatives</h6>
        <ul>
            <h6>Education Programs:</h6>
        <ul>
            <li>The DEAF supports initiatives to educate depositors about safe banking practices, their rights, and how to manage their accounts effectively.</li>
        </ul>

        <h6>Awareness Campaigns:</h6>
        <ul>
            <li>Campaigns are conducted to inform depositors about the importance of regularly updating their account information and operating their accounts.</li>
        </ul>

        <h6>Publications and Workshops:</h6>
        <ul>
            <li>The RBI and banks may publish educational materials and conduct workshops and seminars to promote financial literacy among depositors.</li>
        </ul>
        </ul>
    </div>

    <p style="font-size: 1.4em;">For detailed information, you can refer to the official RBI circular on the DEAF Scheme 2014, available on the RBI website.</p>
</div>

{% endblock index %}