<!DOCTYPE html>
<html lang="en">

<head>
    {% include "core/elements/main-style.html" %}

    {% block appstyling %}
    {% endblock appstyling %}
</head>

<body>
    <!-- Display error messages -->
    <div class="error-messages-inoperate">
        {% if messages %}
            <div class="form-group">
                {% for message in messages %}
                    <div class="{% if message.tags %}alert alert-{{ message.tags }}{% endif %}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    {% include "core/elements/navbar.html" %}
    {% block mainapp %}
    {% endblock mainapp %}
    <footer class="mt-4 font_resizer">
        <p style="text-align: center;padding: 0;font-size: 14px;margin: 0;">© 2024, MSMNS Bank, All rights reserved</p>
    </footer>
</body>
{% include "core/elements/main-script.html" %}

{% block appscripting %}
{% endblock appscripting %}

</html>