<!DOCTYPE html>
<html lang="en">

<head>
    {% include "core/elements/main-style.html" %}

    {% block appstyling %}
    {% endblock appstyling %}
</head>

<body>
    {% include "core/elements/navbar.html" %}
    {% block mainapp %}
    {% endblock mainapp %}
    <footer class="mt-4 font_resizer">
        <p style="text-align: center;padding: 0;font-size: 14px;margin: 0;">© 2024, MSMNS Bank, All rights reserved</p>
    </footer>
</body>
{% include "core/elements/main-script.html" %}

{% block appscripting %}
{% endblock appscripting %}

</html>