{% load static %}
<!-- meta tags -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- title and fevicon -->
<title>MSMNS</title>

{% if hindi in body.classlist %}
    <link rel="shortcut icon" href="../../../static/core/images/msmns-hindi.jpg" type="image/png">
{% else %}
    <link rel="shortcut icon" href="../../../static/core/images/msmnb-english.jpg" type="image/png">
{% endif %}

{% if debug %}
    <!-- bootstrap css  -->
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">

    <!-- global css -->
    <link rel="stylesheet" href="{% static 'core/css/core.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/navbar.css' %}">

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="{% static 'core/css/swiper.css' %}">

    <!-- Home css -->
    <link rel="stylesheet" href="{% static 'core/css/home.css' %}">

    <!-- responsive css -->
    <link rel="stylesheet" href="{% static 'core/css/responsive.css' %}">
{% else %}
    {% load compress %}
    {% compress css %}
    <!-- production css  -->
    <link rel="stylesheet" href="{% static 'core/css/production.css' %}">
    {% endcompress %}
{% endif %}