{% load static %}
<!-- core js -->
 
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    const progressCircle = document.querySelector(".autoplay-progress svg");
    const progressContent = document.querySelector(".autoplay-progress span");
    var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
            delay: 2500,slidesPerView: 5,
            disableOnInteraction: false
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev"
        },
        on: {
            autoplayTimeLeft(s, time, progress) {
                progressCircle.style.setProperty("--progress", 1 - progress);
                progressContent.textContent = `${Math.ceil(time / 1000)}s`;
            }
        }
    });
</script>

<script>
    var swiper = new Swiper(".mySwipernew", {
        slidesPerView: 4,  
        spaceBetween: 0,
        speed: 800,
        loop: true,  
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });

    document.querySelectorAll('.swiper-slide').forEach(function(slide) {
        slide.addEventListener('click', function() {
            // Hide all content divs
            document.querySelectorAll('.bank-button-detail').forEach(function(detail) {
                detail.style.display = 'none';
            });

            // Show the clicked content div
            var target = this.getAttribute('data-target');
            var targetElement = document.querySelector('.' + target);
            if (targetElement) {
                targetElement.style.display = 'block';
            }

            document.querySelectorAll('.swiper-slide').forEach(function(slide) {
            slide.classList.remove('active');
        });

        // Add 'active' class to the clicked swiper slide
        this.classList.add('active');
        });
    });
</script>