:root {
    --background: #fafafa;
    --background-pink-shade: #fdbd30;
    --background-blue-shade: #13a9e1;
}
[data-theme="dark"] {
    --background: #353535;
    --background-pink-shade: #fdbd30;
    --background-blue-shade: #13a9e1;
    --text-color: #ffffff;
}
body{
    font-size: 10px;
    background-color: var(--background);
    top: 0 !important;
}
body *.card{
    background-color: transparent;
}

footer {
    background-color: var(--background-blue-shade);
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* google translations */
.skiptranslate,
.VIpgJd-ZVi9od-aZ2wEe-wOHMyf-ti6hGc,
.VIpgJd-yAWNEb-L7lbkb,
.VIpgJd-ZVi9od-ORHb-OEVmcd,
.VIpgJd-ZVi9od-l4eHX-hSRGPd,
.goog-logo-link{
    display: none !important;
}
.goog-te-gadget{
    color: transparent !important;
    position: relative;
}
.goog-te-combo{
    position: absolute;
}
.VIpgJd-yAWNEb-VIpgJd-fmcmS-sn54Q{
    background-color: transparent !important;
    box-shadow: none;
}


.error-messages-inoperate{
    position: fixed;
    top: 1em;
    right: 1em;
}