.swiper {
    width: 100%;
    height: 70vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

.content-home .card-title {
    font-size: 1.4em;
    background-color: var(--background-pink-shade);
    padding: .7em 1em;
    font-weight: 600;
    color: var(--background);
}

.card-data-scroller {
    height: 100%;
    overflow: hidden;
    position: relative;
    padding: 0 1em 1em 1em;
}

.card-data-scroller ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card-data-scroller ul li {
    margin-top: 1em;
}

.card-data-scroller ul li a {
    font-size: 1.4em;
}

.card-data-scroller {
    height: 100%;
    overflow: hidden;
    position: relative;
    padding: 0 1em 1em 1em;
}

.card-data-scroller ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#scrollingList1 {
    animation: scrollList 20s linear infinite;
    transform: translateY(100%);
    min-height: 200px;
}

.card-data-scroller ul li {
    margin-top: 1em;
}

.card-data-scroller ul li a {
    font-size: 1.4em;
}

@keyframes scrollList {
    0% {
        transform: translateY(-100);
    }

    50% {
        transform: translateY(50);
    }

    100% {
        transform: translateY(-110%);
    }
}

.alert-news-heading {
    overflow-x: auto;
    white-space: nowrap;
    background-color: var(--background-blue-shade);
    font-size: 14px;
    padding: .5em;
    overflow: hidden;
}

.horizontal-scroll {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    transform: translateX(-100%);
    animation: horizscrollList 20s linear infinite;
}

.horizontal-scroll li {
    display: inline-block;
    padding: 0 10px;
}

@keyframes horizscrollList {
    0% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.feature-heading {
    font-size: 2.5em;
    color: white;
    font-weight: 600;
    text-align: center;
    border: 1px solid transparent;
    background-color: var(--background-blue-shade);
    border-radius: 1em;
    padding: .2em 1.5em;
}

.bank-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.bank-buttons .feature-heading {
    cursor: pointer;
}

.bank-buttons-details div {
    font-size: 14px;
}

.bank-button-detail {
    width: 100%;
    display: none;
}

.bank-button-detail * {
    color: #444;
}

.bank-button-detail:nth-child(1) {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.bank-buttons {
    font-size: 2.5em;
    color: white;
    font-weight: 600;
    text-align: center;
    padding: .2em 1.5em;
}

.bank-buttons .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bank-btns {
    border: 1px solid transparent;
    background-color: var(--background-blue-shade);
    border-radius: 1.5em;
    padding: .3em 1em;
    cursor: pointer;
}

.swiper-slide.active .bank-btns {
    box-shadow: 0 0 5px 5px var(--background-pink-shade);
    background-color: #002d5e;
}

.swiper-slide:nth-child(1).active .bank-btns {
    box-shadow: 0 0 5px 5px var(--background-pink-shade);
}