{% extends 'aboutus/partial/base.html' %}
{% load static %}

{% block index %}

    <!-- Profile Section -->
    <div class="container-fluid mt-5 aboutmain">
        <div class="row">
            <div class="col-lg-3" style="display: flex;align-items: center;justify-content: center;">
                <img src="../../../static/core/images/msmnb-english.webp" class="img-fluid" alt="Bank Logo">
            </div>
            <div class="col-lg-9">
                <h5>Maa Sharda Mahila Nagrik Sahakari Bank Maryadit, Maihar</h5>
                <hr style="margin: 0 0 .5em 0;">
                <p class="font_resizer">Maa Sharda Mahila Nagrik Sahakari Bank Maryadit, Maihar, the first constituted bank of the Vindhya region, was registered in M.P. under the Co-operative Act (JR/Rewa/84) on 15th May 1998. It received its license (No.UBD/M.P./1678 P) from the Reserve Bank of India on 14th December 1998 and commenced banking operations on 13th February 1999. The bank has recently concluded its 26th financial year.</p>
                <p class="font_resizer">The primary objective of the bank's establishment is to empower the women of the area, making them self-reliant and enhancing their economic and moral status within the cooperative spirit. The bank was established in Maihar through the relentless efforts of the founding chairperson, Mrs. Pratibha Patel, and the late Shri Mathura Prasad Patel, former MLA.</p>
                <p class="font_resizer"><strong>Share Capital:</strong> The bank's 31 march 2024 share capital stands at 49.97 lakhs.</p>
                <h5>Our Mission</h5>
                <hr style="margin: 0 0 .5em 0;">
                <p class="font_resizer">Our mission is to deliver superior financial solutions and services to our clients and ensure their financial growth and stability.</p>
            </div>
            <div class="col-md-12 mt-4">
                <h5>Our Vision</h5>
                <hr style="margin: 0 0 .5em 0;">
                <p class="font_resizer">Our vision is to be the leading financial institution recognized for our integrity, innovation, and customer-centric approach.</p>
            </div>
        </div>
    </div>

{% endblock index %}