{% extends 'aboutus/partial/base.html' %}
{% load static %}

{% block index %}

<!-- Bank Staff -->
<div class="container-fluid mt-5 directors">
    <h5>Bank Staff</h5>
    <hr class="my-2">
    <p>Meet the bank staff members</p>

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Shri Sundarlal Charmkar</h5>
                    <p class="card-text">Chief Executive Officer</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Mr. Shailendra Kumar Garg</h5>
                    <p class="card-text">Assistant Manager</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Shri Bhaiyalal Singh</h5>
                    <p class="card-text">Chief Accountant</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Ms. Bhavna Prasad Singh</h5>
                    <p class="card-text">Assistant Accountant</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Ku. Saraswati Srivastava</h5>
                    <p class="card-text">Clerk/Cashier</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Mrs. Pooja Patel</h5>
                    <p class="card-text">Clerk</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Shri Ramashankar Kushwaha</h5>
                    <p class="card-text">Peon</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Mr. Avinash Dahiya</h5>
                    <p class="card-text">Peon</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Mr. Gajendra Singh</h5>
                    <p class="card-text">Security Guard (Gunman)</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock index %}