{% extends 'aboutus/partial/base.html' %}
{% load static %}

{% block index %}
<!-- Chairman's Message Section -->
<div class="container-fluid mt-5 chairman">
    <h5>Chairman's Message</h5>
    <hr style="margin: 0 0 .5em 0;">
    <div class="row">
        <div class="col-md-3">
            <img loading="lazy"  src="" alt="Chairman" class="img-fluid rounded-circle">
        </div>
        <div class="col-md-9">
            <p><strong>Dear Valued Customers, Partners, and Stakeholders,</strong></p>
            <p>Welcome to Maa Sharda Mahila Nagrik Sahakari Bank Maryadit, Maihar. As the Chairman of this esteemed
                institution, I am proud to share with you the remarkable progress and achievements we have made over the
                years.</p>
            <p>Our bank was established with the vision to empower women and foster economic growth in our community.
                Through unwavering commitment and dedication, we have successfully delivered on our mission and continue
                to support the financial needs of our customers.</p>
            <p>We have consistently demonstrated strong financial performance, maintained high standards of customer
                service, and introduced innovative banking solutions. Our focus on sustainability and community
                development remains at the core of our operations.</p>
            <p>Looking ahead, we are excited about the future and the opportunities that lie ahead. We remain committed
                to enhancing our services, embracing new technologies, and expanding our reach to better serve our
                customers and community.</p>
            <p>Thank you for your trust and support. Together, we will continue to achieve great milestones and build a
                brighter future.</p>
            <p>Sincerely,</p>
            <p><strong>Mrs. Pratibha Patel</strong></p>
            <p>Chairman, Maa Sharda Mahila Nagrik Sahakari Bank Maryadit, Maihar</p>
        </div>
    </div>
</div>

{% endblock index %}