{% extends 'aboutus/partial/base.html' %}
{% load static %}

{% block index %}

<!-- Key Commitments Section -->
<div class="container-fluid mt-5 commitment">
    <h5>Our Key Commitments</h5>
    <hr style="margin: 0 0 .5em 0;">
    <p>At Maa Sharda Mahila Nagrik Sahakari Bank Maryadit, Maihar, we are dedicated to upholding our commitments to our
        customers, community, employees, and sustainability. Our key commitments are the foundation of our values and
        guide our operations every day.</p>

    <!-- Customers Commitment -->
    <h5>Commitment to Customers</h5>
    <hr style="margin: 0 0 .5em 0;">
    <p>We are committed to providing our customers with excellent service, innovative financial products, and a banking
        experience that exceeds their expectations. Our goals include:</p>
    <ul>
        <li>Ensuring customer satisfaction with personalized service</li>
        <li>Offering transparent and fair banking practices</li>
        <li>Continuously improving our products and services</li>
    </ul>

    <!-- Community Commitment -->
    <h5>Commitment to the Community</h5>
    <hr style="margin: 0 0 .5em 0;">
    <p>We believe in giving back to the community and fostering economic development. Our community-focused initiatives
        include:</p>
    <ul>
        <li>Supporting local businesses and entrepreneurs</li>
        <li>Promoting financial literacy and education</li>
        <li>Engaging in charitable activities and community service</li>
    </ul>

    <!-- Employees Commitment -->
    <h5>Commitment to Employees</h5>
    <hr style="margin: 0 0 .5em 0;">
    <p>Our employees are our greatest asset. We are committed to creating a positive work environment that supports
        professional growth and personal well-being. Our commitments to our employees include:</p>
    <ul>
        <li>Providing opportunities for career development and training</li>
        <li>Maintaining a safe and inclusive workplace</li>
        <li>Offering competitive compensation and benefits</li>
    </ul>

    <!-- Sustainability Commitment -->
    <h5>Commitment to Sustainability</h5>
    <hr style="margin: 0 0 .5em 0;">
    <p>We are dedicated to operating sustainably and minimizing our environmental impact. Our sustainability initiatives
        include:</p>
    <ul>
        <li>Reducing our carbon footprint through energy-efficient practices</li>
        <li>Promoting environmentally responsible banking solutions</li>
        <li>Encouraging sustainable practices among our employees and customers</li>
    </ul>
</div>

{% endblock index %}