{% extends 'aboutus/partial/base.html' %}
{% load static %}

{% block index %}

<!-- Board of Directors Section -->
<div class="container-fluid mt-5 directors">
    <h5>Board of Directors</h5>
    <hr style="margin: 0 0 .5em 0;">
    <p>Meet the distinguished members of our Board of Directors, who bring a wealth of experience and expertise to guide our bank's strategic direction.</p>
    
    <div class="row">
        <!-- Director 1 -->
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{% static 'images/director1.jpg' %}" class="card-img-top" alt="Director 1">
                <div class="card-body">
                    <h5 class="card-title">Director 1</h5>
                    <p class="card-text">Director 1's biography highlighting their experience and contributions to the bank.</p>
                </div>
            </div>
        </div>
        <!-- Director 2 -->
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{% static 'images/director2.jpg' %}" class="card-img-top" alt="Director 2">
                <div class="card-body">
                    <h5 class="card-title">Director 2</h5>
                    <p class="card-text">Director 2's biography highlighting their experience and contributions to the bank.</p>
                </div>
            </div>
        </div>
        <!-- Director 3 -->
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{% static 'images/director3.jpg' %}" class="card-img-top" alt="Director 3">
                <div class="card-body">
                    <h5 class="card-title">Director 3</h5>
                    <p class="card-text">Director 3's biography highlighting their experience and contributions to the bank.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Director 4 -->
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{% static 'images/director4.jpg' %}" class="card-img-top" alt="Director 4">
                <div class="card-body">
                    <h5 class="card-title">Director 4</h5>
                    <p class="card-text">Director 4's biography highlighting their experience and contributions to the bank.</p>
                </div>
            </div>
        </div>
        <!-- Director 5 -->
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{% static 'images/director5.jpg' %}" class="card-img-top" alt="Director 5">
                <div class="card-body">
                    <h5 class="card-title">Director 5</h5>
                    <p class="card-text">Director 5's biography highlighting their experience and contributions to the bank.</p>
                </div>
            </div>
        </div>
        <!-- Director 6 -->
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{% static 'images/director6.jpg' %}" class="card-img-top" alt="Director 6">
                <div class="card-body">
                    <h5 class="card-title">Director 6</h5>
                    <p class="card-text">Director 6's biography highlighting their experience and contributions to the bank.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock index %}