{% extends 'loan/partial/base.html' %}
{% load static %}

{% block index %}

<div class="container mt-5 propertyloan">
    <table>
        <thead>
            <tr>
                <th>Type of Loan</th>
                <th>Effective from 01.09.2019 to Till Now</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Long term Loan</td>
                <td>9%</td>
            </tr>
            <tr>
                <td>Mid-Term Loans Shop Loans</td>
                <td>11%</td>
            </tr>
            <tr>
                <td>Personal loans</td>
                <td>12%</td>
            </tr>
            <tr>
                <td>Cash Credit limit</td>
                <td>12%</td>
            </tr>
            <tr>
                <td>Fixed Deposit Against Loan</td>
                <td>-</td>
            </tr>
        </tbody>
    </table>
    <h5 style="text-decoration: underline;"><b>Loan Required Documents</b></h5>
    <ol style="font-size: 14px;">
        <li>Application for loan.</li>
        <li>Aadhar card / PAN card / Voter ID (2 photocopies each).</li>
        <li>For loan amounts below 2 lakhs: any Income Proof.</li>
        <li>For loan amounts of 2 lakhs or above: ITR copy is required.</li>
        <li>CIBIL Report.</li>
        <li>Immovable property documents (e.g., Rin Pustika, Registry, Diversion in Original).</li>
        <li>SEARCH report by bank advocate.</li>
        <li>Affidavit, Agreement letter.</li>
        <li>E-Mitra papers for loans above Rs 2 lakhs.</li>
        <li>Valuation Report.</li>
        <li>Borrower's and Guarantor's photos.</li>
        <li>20 Revenue Stamps of Rs 1 each.</li>
        <li>Borrower should deposit 5% of the loan amount, refundable after loan processing.</li>
        <li>1% processing fee of the loan amount, not refundable.</li>
        <li>The insurance fee deposited by the borrower is not refundable.</li>
        <li>For housing loans, a passed map of the house should be approved by the municipal authority.</li>
        <li>For vehicle loans, 25% of the vehicle amount should be approved by the municipal authority.</li>
    </ol>
</div>

{% endblock index %}